<div class="media">
  <div class="media-body">
    <small>
      <%= topic.name %> posted <%= time_ago_in_words(topic.created_at) %> ago
    </small>
      <p><%= topic.description %></p>
  </div>
</div>
