<h1>Topics</h1>
<div class="row">
  <div class="col-md-8">
    <p><%= @topics.name%></p>
    <div>
      <h3>Posts</h3>
      <%= render @topics %>
    </div>
    <% if current_user %>
        <%= render 'topics/form', topic:Topic.new %>
    <% end %>
  </div>

   <% if user_is_authorized_for_topics? %>
   <div class="col-md-4">
     <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
   </div>
   <% end %>
 </div>
